/* .main-sidebar {
    background-color: #f7e8be !important
}

.main-sidebar:hover {
    background-color: pink !important
}

ul {
    background-color: #f7e8be !important
}


li a:hover {
    background-color: pink !important
}

.header {
    background-color: #f7e8be !important
}

.treeview-menu {
    background-color: lightblue !important
} */